{% extends 'index.html' %} {% block content %} {% load staticfiles %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Inventory/</span>
        Incoming
    </h4>
    <!-- Sticky Actions -->
    <div class="row">
        <div class="col-12">
            <form id="in-frm">
                <div class="card">
                    <div
                        class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row"
                    >
                        <h5 class="card-title mb-sm-0 me-2">Incoming Form</h5>
                        <div class="action-btns">
                            <button class="btn btn-label-primary me-3">
                                <span class="align-middle"> Reset</span>
                            </button>
                            <button name="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 row mt-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" for="barcode">Barcode</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text"><i class="ti ti-barcode"></i></span>
                                            <input type="text" id="barcode" name="Barcode" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" for="quick-search">Quick Search</label>
                                        <div class="input-group input-group-merge">
                                            <span class="input-group-text"><i class="ti ti-search"></i></span>
                                            <input type="text" id="quick-search" name="quick_search" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <button class="btn btn-secondary create-new btn-primary mt-4 ms-auto d-block" type="button">
                                        <span><i class="ti ti-plus me-sm-1"></i> <span class="d-none d-sm-inline-block">Add New Item</span></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-12">
                                <table class="table mt-4">
                                    <thead>
                                        <tr>
                                            <th>Item Type</th>
                                            <th>Brand</th>
                                            <th>Details</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Medicine</td>
                                            <td>Unilab</td>
                                            <td>Oxytocin (GYNE-TOCIN/AMBTOCYN) 10iu/ml Solution for Injection</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-12">
                                <div class="divider divider-dashed my-4">
                                    <div class="divider-text">Incoming Details</div>
                                </div>
                            </div>
                            <div class="col-12 row g-3">
                                <div class="col-md-4">
                                    <label class="form-label" for="item-quantity-pcs">Quantity</label>
                                    <div class="input-group input-group-merge">
                                        <input type="number" id="item-quantity-pcs" name="ItemQuantityPcs" class="form-control" />
                                        <span class="input-group-text">PC/s</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="unit-price">Unit Price</label>
                                    <input dir="rtl" type="number" name="UnitPrice" id="unit-price" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="retail-price-pcs">Retail Price Per PC/s</label>
                                    <input type="number" dir="rtl" id="retail-price-pcs" name="RetailPricePcs" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="company">Company</label>
                                    <select id="company" name="Company" class="select2 form-select" data-allow-clear="true">
                                        <option></option>
                                        {% for row in company %}
                                        <option value="{{ row.id }}">{{ row.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="delivered-date">Delivery Date</label>
                                    <input type="date" id="delivered-date" name="DeliveredDate" class="form-control" />
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="expiration-date">Expiration Date</label>
                                    <input type="date" id="expiration-date" name="ExpirationDate" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            <div class="card mt-4 p-3">
                <h5 class="card-header">Received Item/s Today</h5>
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Type</th>
                                <th>Details</th>
                                <th>Delivered Date</th>
                                <th>Expiration Date</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                            <tr>
                                <td>1</td>
                                <td>Medicine</td>
                                <td>Amoxicillin (Altomox) 100mg/ml Oral Drops 10ml</td>
                                <td>03-04-2023</td>
                                <td>03-04-2023</td>
                                <td>Marwen Valeroso</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /Sticky Actions -->
</div>
<!-- / Content -->
{% endblock %} {% block footer_scripts %}
<script>
    $(document).ready(function () {
        let tbl_item_details = $('#tbl-item-details')
        let item_quantity_pcs = $('#item-quantity-pcs')
        let delivered_date = $('#delivered-date')

        delivered_date.val(dateToday())

        const InFormValidation = document.getElementById('in-frm'),
            Company = jQuery(InFormValidation.querySelector('[name="Company"]'))

        const fv = FormValidation.formValidation(InFormValidation, {
            fields: {
                Barcode: {
                    validators: {
                        notEmpty: {
                            message: 'Please provide barcode',
                        },
                    },
                },
                DeliveredDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please delivery date',
                        },
                    },
                },
                ExpirationDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please expiration date',
                        },
                    },
                },
                Company: {
                    validators: {
                        notEmpty: {
                            message: 'Please select company',
                        },
                    },
                },
                UnitPrice: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter unit price',
                        },
                    },
                },
                ItemQuantityPcs: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter item quantity in pcs',
                        },
                    },
                },
                RetailPricePcs: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter retail price per pcs',
                        },
                    },
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus(),
            },
            init: (instance) => {
                instance.on('plugins.message.placed', function (e) {
                    //* Move the error message out of the `input-group` element
                    if (e.element.parentElement.classList.contains('input-group')) {
                        // `e.field`: The field name
                        // `e.messageElement`: The message element
                        // `e.element`: The field element
                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement)
                    }
                    //* Move the error message out of the `row` element for custom-options
                    if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                        e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement)
                    }
                })
            },
        }).on('core.form.valid', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, save it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    var form_data = $('#in-frm').serialize()
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'store-items' %}",
                        data: form_data,
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Item has been added.',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })

                            setTimeout(() => {
                                window.location.reload()
                            }, 1300)
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: 'Encountered error on saving item!',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            })
        })

        // Select2 (Company)
        if (Company.length) {
            Company.wrap('<div class="position-relative"></div>')
            Company.select2({
                placeholder: 'Select Company',
                dropdownParent: Company.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('Company')
            })
        }
    })
</script>
{% endblock footer_scripts %}
