{% extends 'index.html' %} {% block content %} {% load staticfiles %}
<!-- Content -->
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Inventory/</span>
        Receive
    </h4>
    <!-- Sticky Actions -->
    <div class="row">
        <div class="col-12">
            <form id="in-frm">
                <div class="card">
                    <div
                        class="card-header sticky-element bg-label-secondary d-flex justify-content-sm-between align-items-sm-center flex-column flex-sm-row"
                    >
                        <h5 class="card-title mb-sm-0 me-2">Receive Item/s Form</h5>
                        <div class="action-btns">
                            <button class="btn btn-label-primary me-3">
                                <span class="align-middle"> Reset</span>
                            </button>
                            <button type="submit" name="submitButton" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row g-3">
                            <div class="col-md-4">
                                <label class="form-label" for="barcode">Barcode<span class="text-red">*</span></label>
                                <div class="input-group input-group-merge">
                                    <span class="input-group-text" id="basic-addon"><i class="ti ti-barcode"></i></span>
                                    <input type="text" id="barcode" name="Barcode" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="delivered-date">Delivery Date<span class="text-red">*</span></label>
                                <input type="date" id="delivered-date" name="DeliveredDate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="expiration-date">Expiration Date<span class="text-red">*</span></label>
                                <input type="date" id="expiration-date" name="ExpirationDate" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="item-type">Item type<span class="text-red">*</span></label>
                                <select id="item-type" name="ItemType" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in item_type %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="company">Company<span class="text-red">*</span></label>
                                <select id="company" name="Company" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in company %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="brand">Brand<span class="text-red">*</span></label>
                                <select id="brand" name="Brand" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in brand %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="generic">Generic<span class="text-red">*</span></label>
                                <select id="generic" name="Generic" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in generic %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="sub-generic">Sub-generic<span class="text-red">*</span></label>
                                <select id="sub-generic" name="SubGeneric" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in sub_generic %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="description">Description<span class="text-red">*</span></label>
                                <input type="text" name="Description" id="description" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="unit-price">Unit Price<span class="text-red">*</span></label>
                                <input dir="rtl" type="number" name="UnitPrice" id="unit-price" class="form-control" />
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="item-unit">Item unit</label>
                                <select id="item-unit" name="ItemUnit" class="select2 form-select" data-allow-clear="true">
                                    <option></option>
                                    {% for row in item_unit %}
                                    <option value="{{ row.id }}">{{ row.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="item-quantity">Item Quantity</label>
                                <div class="input-group input-group-merge">
                                    <input type="number" id="item-quantity" name="ItemQuantity" class="form-control" />
                                    <span id="item-quantity-unit" class="input-group-text"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="item-quantity-pcs"
                                    >Quantity Per Item Unit in PC/s<span class="text-red">*</span></label
                                >
                                <div class="input-group input-group-merge">
                                    <input type="number" id="item-quantity-pcs" name="ItemQuantityPcs" class="form-control" />
                                    <span class="input-group-text">PC/s</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="total-quantity-pcs">Total Quantity in PC/s<span class="text-red">*</span></label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="total-quantity-pcs" name="TotalQuantityPcs" class="form-control" readonly />
                                    <span class="input-group-text">PC/s</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label" for="retail-price-pcs">Retail Price Per PC/s<span class="text-red">*</span></label>
                                <input type="number" dir="rtl" id="retail-price-pcs" name="RetailPricePcs" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /Sticky Actions -->
</div>
<!-- / Content -->
{% endblock %} {% block footer_scripts %}
<script>
    $(document).ready(function () {
        let item_unit_id = $('#item-unit')
        let item_quantity_unit_id = $('#item-quantity-unit')
        let item_quantity_id = $('#item-quantity')
        let tbl_item_details = $('#tbl-item-details')
        let item_quantity_pcs = $('#item-quantity-pcs')
        let total_quantity_pcs = $('#total-quantity-pcs')

        item_unit_id.on('change', function () {
            let item_unit_selected = $('#item-unit option:selected')
            item_quantity_id.val('')
        })

        item_quantity_pcs.on('keyup', function () {
            total_quantity()
        })

        item_quantity_id.on('keyup', function () {
            total_quantity()
        })

        function total_quantity() {
            let quan_pcs = item_quantity_pcs.val() ? Number(item_quantity_pcs.val()) : 0
            let quan_pcs2 = item_quantity_id.val() ? Number(item_quantity_id.val()) : 1
            let total = quan_pcs * quan_pcs2
            total_quantity_pcs.val(total)
        }

        const InFormValidation = document.getElementById('in-frm'),
            ItemType = jQuery(InFormValidation.querySelector('[name="ItemType"]')),
            Company = jQuery(InFormValidation.querySelector('[name="Company"]')),
            Generic = jQuery(InFormValidation.querySelector('[name="Generic"]')),
            SubGeneric = jQuery(InFormValidation.querySelector('[name="SubGeneric"]')),
            Brand = jQuery(InFormValidation.querySelector('[name="Brand"]')),
            ItemUnit = jQuery(InFormValidation.querySelector('[name="ItemUnit"]'))

        const ExpirationDateValidation = {
            validators: {
                notEmpty: {
                    message: 'Expiration Date is required',
                },
            },
        }

        const fv = FormValidation.formValidation(InFormValidation, {
            fields: {
                Barcode: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter barcode',
                        },
                    },
                },
                DeliveredDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please delivery date',
                        },
                    },
                },
                ExpirationDate: {
                    validators: {
                        notEmpty: {
                            message: 'Please delivery date',
                        },
                    },
                },
                ItemType: {
                    validators: {
                        notEmpty: {
                            message: 'Please select item type',
                        },
                    },
                },
                Company: {
                    validators: {
                        notEmpty: {
                            message: 'Please select company',
                        },
                    },
                },
                Generic: {
                    validators: {
                        notEmpty: {
                            message: 'Please select generic',
                        },
                    },
                },
                SubGeneric: {
                    validators: {
                        notEmpty: {
                            message: 'Please select sub-generic',
                        },
                    },
                },
                Brand: {
                    validators: {
                        notEmpty: {
                            message: 'Please select brand',
                        },
                    },
                },
                UnitPrice: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter unit price',
                        },
                    },
                },
                ItemQuantityPcs: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter item quantity in pcs',
                        },
                    },
                },
                TotalQuantityPcs: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter total quantity in pcs',
                        },
                    },
                },
                RetailPricePcs: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter retail price per pcs',
                        },
                    },
                },
                Description: {
                    validators: {
                        notEmpty: {
                            message: 'Please enter your description',
                        },
                    },
                },
            },
            plugins: {
                trigger: new FormValidation.plugins.Trigger(),
                bootstrap5: new FormValidation.plugins.Bootstrap5(),
                submitButton: new FormValidation.plugins.SubmitButton(),
                // Submit the form when all fields are valid
                //defaultSubmit: new FormValidation.plugins.DefaultSubmit(),
                autoFocus: new FormValidation.plugins.AutoFocus(),
            },
            init: (instance) => {
                instance.on('plugins.message.placed', function (e) {
                    //* Move the error message out of the `input-group` element
                    if (e.element.parentElement.classList.contains('input-group')) {
                        // `e.field`: The field name
                        // `e.messageElement`: The message element
                        // `e.element`: The field element
                        e.element.parentElement.insertAdjacentElement('afterend', e.messageElement)
                    }
                    //* Move the error message out of the `row` element for custom-options
                    if (e.element.parentElement.parentElement.classList.contains('custom-option')) {
                        e.element.closest('.row').insertAdjacentElement('afterend', e.messageElement)
                    }
                })
            },
        }).on('core.form.valid', function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes, save it!',
                customClass: {
                    confirmButton: 'btn btn-primary me-3',
                    cancelButton: 'btn btn-label-secondary',
                },
                buttonsStyling: false,
            }).then(function (result) {
                if (result.value) {
                    var form_data = $('#in-frm').serialize()
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'store-items' %}",
                        data: form_data,
                    }).done(function (data) {
                        if (data.data == 'success') {
                            Swal.fire({
                                icon: 'success',
                                title: 'Successfully save!',
                                text: 'Item has been added.',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })

                            setTimeout(() => {
                                window.location.reload()
                            }, 1300)
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Error saving!',
                                text: 'Encountered error on saving item!',
                                customClass: {
                                    confirmButton: 'btn btn-success',
                                },
                            })
                        }
                    })
                }
            })
        })

        // Select2 (ItemType)
        if (ItemType.length) {
            ItemType.wrap('<div class="position-relative"></div>')
            ItemType.select2({
                placeholder: 'Select Item Type',
                dropdownParent: ItemType.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('ItemType')
            })
        }

        // Select2 (Company)
        if (Company.length) {
            Company.wrap('<div class="position-relative"></div>')
            Company.select2({
                placeholder: 'Select Company',
                dropdownParent: Company.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('Company')
            })
        }

        // Select2 (Generic)
        if (Generic.length) {
            Generic.wrap('<div class="position-relative"></div>')
            Generic.select2({
                placeholder: 'Select Generic',
                dropdownParent: Generic.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('Generic')
            })
        }

        // Select2 (SubGeneric)
        if (SubGeneric.length) {
            SubGeneric.wrap('<div class="position-relative"></div>')
            SubGeneric.select2({
                placeholder: 'Select Sub-generic',
                dropdownParent: SubGeneric.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('SubGeneric')
            })
        }

        // Select2 (Brand)
        if (Brand.length) {
            Brand.wrap('<div class="position-relative"></div>')
            Brand.select2({
                placeholder: 'Select Brand',
                dropdownParent: Brand.parent(),
            }).on('change.select2', function () {
                // Revalidate the color field when an option is chosen
                fv.revalidateField('Brand')
            })
        }

        // Select2 (ItemUnit)
        if (ItemUnit.length) {
            ItemUnit.wrap('<div class="position-relative"></div>')
            ItemUnit.select2({
                placeholder: 'Select Item Unit',
                dropdownParent: ItemUnit.parent(),
            })
        }

        // item_quantity_id.on('keyup', function () {
        //     if (!item_unit_id.val()) return
        //     let item_quantity_val = item_quantity_id.val() ?? 0
        //     append_item_details(item_quantity_val)
        // })
        //
        // item_quantity_pcs.on('keyup', function () {
        //     if (item_quantity_id.val() && item_unit_id.val()) return
        //     let item_quantity_val = item_quantity_pcs.val() ?? 0
        //     append_item_details(item_quantity_val)
        // })

        //function append_item_details(quantity) {
        //    let tbl_item_details_html = ''
        //    tbl_item_details.empty()
        //    for (let i = 0; i < quantity; i++) {
        //        tbl_item_details_html =
        //            '<tr>' +
        //            '<td>' +
        //            (i + 1) +
        //            '</td>' +
        //            '<td>' +
        //            '<div class="input-group input-group-merge">' +
        //            '<input type="date" name="expiryDate[' +
        //            i +
        //            ']" class="form-control"/>' +
        //            '</div>' +
        //            '</td>' +
        //            '</tr>'
        //
        //        tbl_item_details.append(tbl_item_details_html)
        //        // Add new fields
        //        // Note that we also pass the validator rules for new field as the third parameter
        //        fv.addField('expiryDate[' + i + ']', ExpirationDateValidation)
        //    }
        //}
    })

    document.addEventListener('DOMContentLoaded', function (e) {})
</script>
{% endblock footer_scripts %}
