<form class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="backDropModalTitle">Discount</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col mb-3">
        <label for="nameBackdrop" class="form-label">Name</label>
        <select id="select-discount" name="select-discount" class="select2 form-select select-discount" data-allow-clear="true">
          <option></option>
          {% for row in discount %}
          {% if row.name == "Special" %}
          <option value="{{ row.id }}">{{ row.name }}</option>
          {% else %}
          <option value="{{ row.id }}">{{ row.name }} - {{ row.percentage }}%</option>
          {% endif %}
          
          {% endfor %}
        
      </select>
      </div>
    </div>
    <div class="row g-2 view-percentage">
      <div class="col mb-0">
        <label for="percentageBackdrop" class="form-label">Percentage</label>
        <input
          type="number"
          id="special-percentage"
          name="special-percentage"
          class="form-control special-percentage"
          min="0"
          maxlength = "3"
          max="100"
          placeholder="0%"
        />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-label-secondary" data-bs-dismiss="modal">
      Close
    </button>
    <button type="button" class="btn btn-primary remove-discount">Remove</button>
    <button type="button" class="btn btn-primary save-discount">Save</button>
  </div>
</form>