{% extends 'index.html' %} {% block content %} {% load staticfiles %}

<div class="content-wrapper">
    <div class="container-fluid flex-grow-1 container-p-y">
        <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Sales /</span> List</h4>

        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="card-datatable table-responsive pt-0">
                    <table id="tbl-sales" class="table display compact">
                        <thead>
                            <tr>
                                <th>Transaction Code</th>
                                <th>Client</th>
                                <th>Emergency</th>
                                <th>Discount</th>
                                <th>Paid</th>
                                <th>Payment Status</th>
                                <th>Remarks</th>
                                <th>Staff</th>
                                <th>Date added</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in sales %}
                            <tr>
                                <td><span class="badge bg-primary">{{row.transaction_code}}</span></td>
                                <td>{{row.client.first_name}} {{row.client.middle_name}} {{row.client.last_name}}</td>
                                <td>
                                    {% if row.is_er == True %}<span class="badge bg-label-danger">Yes</span> {% else %}<span
                                        class="badge bg-label-warning"
                                        >No</span
                                    >
                                    {% endif %}
                                </td>
                                <td>{{row.discount.name}}</td>
                                <td>{{row.exact_amount_paid|floatformat:2}}</td>
                                <td>{{row.payment_status}}</td>
                                <td>{{row.remarks}}</td>
                                <td>{{row.user.username}}</td>
                                <td>{{row.created_at}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block footer_scripts %}
<script>
    $(document).ready(function () {
        const tbl_sales = $('#tbl-sales')

        tbl_sales.DataTable()
    })
</script>
{% endblock footer_scripts %}
